/*
#Color Palette

Text
#000

#666

Murky Green
#8C8

Brown
#B80

*/
body.intag {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    min-width: 600px;
    padding: 0 8px;
}

body * {
    color: #000;
}

.bread {
    font-size: 24px;
    display: none;
}

.breadcrumbs {
    font-size: 24px;
}

h1 {
    font-size: 68px;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.header-title {
    display: inline-block;
    border-bottom: 1px solid rgba(136, 204, 136, 1);
    padding: 4px 30px;
    margin: 10px 0 4px 0;
    font-size: 44px;
    font-weight: 100;
    transition: 300ms;
}

.header-title:hover {
    border-bottom-color: #B80;
}

.clearfix {
    width: 100%;
    clear: both;
}

.article-title {
    width: 60%;
    font-size: 52px;
    display: inline-block;
    float: none;
    clear: none;
    text-align: left;
    line-height: 60px;
    padding-bottom: 18px;
    margin: 40px 0 8px 0;
    font-weight: 100;
}

.description {
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 13px;
    color: #000;
}

.nav {
    width: 96%;
    min-width: 600px;
    border-top: 1px solid rgba(136, 204, 136, 1);
    padding-top: 4px;
    position: absolute;
    margin: 100px 2% 0 2%;
}

/*.selection {
    position: relative;
    display: inline-block;
    z-index: -1;
    margin-top: 4px;
    float: left;
    clear: left;
}*/

.menu-tab {
    position: absolute;
    right: 80px;
}

.menu-tab.top {
    right: 0;
}

.branch {
    display: inline-block;
    border-bottom: 1px solid rgba(136, 204, 136, 1);
    float: right;
    margin-left: 1px;
    margin-top: -4px;
    padding: 9px 18px 7px 14px;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    margin-right: 28px;
    line-height: 13px;
    color: #000;
}

/*.branch:hover {
    color: #000;
}*/

.twig {
    margin-top: -4px;
    margin-right: -1px;
    display: inline-block;
    border-top: 30px solid rgba(136, 204, 136, 1);
    border-left: 50px solid transparent;
    float: right;
}

.twig-cover {
    margin-top: -4px;
    margin-right: -52px;
    display: inline-block;
    float: right;
    border-top: 30px solid #FFF;
    border-left: 50px solid transparent;
}


.twig-cover.top {
    margin-top: -35px;
    margin-right: -4px;
    border-bottom: 30px solid #FFF;
    border-left: 50px solid transparent;
    border-top: none;
}

.branch.top {
    margin-top: -35px;
    margin-bottom: 30px;
    border-top: 1px solid rgba(136, 204, 136, 1);
    border-bottom: none;
}

.twig.top {
    border-bottom: 30px solid rgba(136, 204, 136, 1);
    border-left: 50px solid transparent;
    border-top: none;
    margin-top: -35px;
    margin-right: -2px;
}

.content {
    width: 94%;
    margin: 0 auto;
}


.content p {
    display: inline;
    line-height: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 13px;
}

.content img {
    float: right;
    margin: 0 0 3px 8px;
}

.dot {
    display: inline;
    color: #8C8;
}