/*
#Color Palette

Text
#000

#666

Murky Green
#8B0

Brown
#B80

*/
body.intag {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    min-width: 600px;
    padding: 0 8px;
}

body * {
    color: #000;
}

.bread {
    font-size: 24px;
    display: none;
}

.breadcrumbs {
    font-size: 24px;
}

h1 {
    font-size: 68px;
}

.header {
    width: 94%;
    text-align: center;
    margin: 0 auto;
}

.header-title {
    display: inline-block;
    border-bottom: 1px solid #8B0;
    padding: 4px 0;
    margin: 10px 0 4px 0;
    font-size: 60px;
    font-weight: 100;
    transition: 300ms;
    float: left;
    margin-left: 16px;
    margin-top: 9px;
}

.header-title:hover {
    border-bottom-color: #B80;
}

.clearfix {
    width: 100%;
    clear: both;
}

.nav {
    position: relative;
    display: inline-block;
    margin-top: 26px;
    margin-right: 3%;
    float: right;
}

.nav-tab {
    display: inline-block;
    text-align: right;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0 3px;
    color: #000;
}

.intag .separator {
    color: #8B0;
}

.nav-tab:hover {
    color: #B80;
}

.article-title {
    width: 60%;
    font-size: 30px;
    display: inline-block;
    float: none;
    clear: none;
    text-align: left;
    line-height: 40px;
    padding-bottom: 18px;
    margin: 40px 0 28px 0;
    font-weight: 100;
}

.description {
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 14px;
    color: #000;
    float: left;
    clear: left;
    margin-left: 16px;
}

/* #branch #breadcrumb */


.breadcrumb {
    width: 94%;
    min-width: 600px;
    padding-top: 4px;
    position: absolute;
    margin: 128px 2% 0 2%;
}

.stem {
    width: 100%;
    height: 1px;
    background-color: #8b0;
}

.menu-tab {
    position: absolute;
    right: 80px;
}

.menu-tab.top {
    right: 0;
}

.branch {
    display: inline-block;
    border-bottom: 1px solid #8B0;
    float: right;
    margin-left: 1px;
    padding: 9px 18px 7px 14px;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    margin-right: 28px;
    line-height: 13px;
    color: #000;
    z-index: 1;
}

.twig {
    margin-right: -1px;
    display: inline-block;
    border-top: 30px solid #8B0;
    border-left: 50px solid transparent;
    float: right;
}

.twig-cover {
    border-top: 30px solid #FFF;
    border-left: 50px solid transparent;
    position: absolute;
    left: 2px;
}

.top .twig-cover {
    margin-top: -31px;
    margin-right: -4px;
    border-bottom: 30px solid #FFF;
    border-left: 50px solid transparent;
    border-top: none;
}

.top .branch {
    margin-top: -31px;
    margin-bottom: 30px;
    border-top: 1px solid #8B0;
    border-bottom: none;
}

.top .twig {
    border-bottom: 30px solid #8B0;
    border-left: 50px solid transparent;
    border-top: none;
    margin-top: -31px;
    margin-right: -2px;
}

/* Article Index Branch Breadcrumb */

.index .menu-tab {
    position: relative;
    margin-left: -54px;
    margin-right: 26px;
    display: inline-block;
    float: right;
    right: auto;
}

.index .menu-tab:not(.top) {
    margin-left: -84px;
    margin-right: -4px;
}

.index .menu-tab .branch {
    margin-right: 0;
}

.index .menu-tab.selected * {
    color: #b80;
}

.index .top .twig-cover {
    margin-top: -31px;
    margin-right: -4px;
    border-bottom: 30px solid #FFF;
    border-left: 50px solid transparent;
    border-top: none;
}

.index .top .branch {
    margin: -31px 0 30px 1px;
    border-top: 1px solid #8B0;
    border-bottom: none;

}

.index .top .twig {
    border-bottom: 30px solid #8B0;
    border-left: 50px solid transparent;
    border-top: none;
    margin-top: -31px;
    margin-right: -2px;
}

.index a.menu-tab:hover * {
    color: #b80;
}

.articles-title {
    font-size: 30px;
    display: inline-block;
    text-align: left;
    line-height: 44px;
    font-weight: 100;
    margin: 40px 0 30px -3px;
    padding-left: 3px;
}

.article-list .articles-title {
    max-width: 27%;
}

/* #content */

.content {
    width: 94%;
    clear: both;
    font-size: 14px;
    letter-spacing: 1px;
    float: left;
    margin: 0 3% 28px 3%;
}

.content p {
    display: inline;
    line-height: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 13px;
}

.content img {
    float: right;
    margin: 0 0 3px 8px;
}

.dot {
    display: inline;
    color: #8B0;
}

.tiny {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    margin-top: 60px;
    margin-left: -62px;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
}

/* Home Page */

.blog-roll {
    width: 20%;
    display: inline-block;
    float: right;
    margin-top: 38px;
    margin-right: -8px;
}

.link {
    display: inline-block;
    clear: right;
    float: right;
    text-align: right;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    border-top: 1px solid #8B0;
    width: 100%;
    padding-right: 3px;
}

.link a {
    text-decoration: none;
    padding: 3px 0;
    display: inline-block;
    width: 100%;
}

.link a:hover {
    color: #B80;
}

.link-title {
    font-size: 30px;
    font-weight: 100;
    border-top: none;
    line-height: 1.4em;
}

.text-block {
    width: 70%;
    float: left;
}

.content-title {
    font-size: 30px;
    display: block;
    text-align: left;
    line-height: 40px;
    font-weight: 100;
    border-bottom: 1px solid #8B0;
    margin: 40px 0 8px -3px;
    padding-left: 3px;
}

.content-title a:hover {
    color: #b80;
}

.content .archive-loop {
    display: none;
}

.content .archive-loop.display {
    display: block
}

.content .thumbnail {
    max-width: 25%;
    max-height: 170px;
    margin: 0 12px 0 0;
    float: left;
    border: 1px solid #8B0;
}

.content .archive-block:hover .thumbnail {
    border-color: #707075;
}

.content .archive-block:hover * {
    color: #fff;
}

.content .archive-block:hover {
    background-color: #707075;
    border-color: #707075;
}

.archive-block {
    margin-top: 16px;
    display: block;
    width: 97%;
    float: left;
    border-bottom: 1px solid #8b0;
    padding: 18px 2% 16px 2%;
    border-top-left-radius: 16px;
}

.archive-block-text {
    float: right;
    width: 68%;
}

.issue-number {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.4em;
}

.issue-title {
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2em;
    margin-bottom: 3px;
    border-bottom: 1px solid transparent;
    display: inline-block;
}

.issue-author {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5em;
}

.issue-date {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5em;
}

@media (min-width: 700px) {
    .content .archive-block {
        width: 44%;
        border-right: 1px solid #8b0;
        min-height: 130px;
    }

    .content .archive-block:nth-of-type(odd) {
        margin-right: 3%;
        clear: both;
    }
}

div.author {
    padding-bottom: 10px;
}
