{% extends "layout.html" %}
{% block body %}
    <div class="content">
        <div class="content-title">Articulos</div>
        {% for year, article_list in articles.iteritems() %}
            <div class="year">
		<span>{{ year }}</span>
            {% for article in article_list %}
                <a href="articulos/{{ article.alias }}" class="article-block">
                    <div class="title">{{ article.title }}</div>
                    <div class="author">{{ article.author }}</div>
                    <div class="date">{{ article.date }}</div>
                </a>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
