{% extends "layout.html" %}
{% block body %}
    <div class="breadcrumb index">
        <div class="stem"></div>
        <a class="menu-tab top" href="../articulos#{{ article.date.year}}" >
            <div class="branch top">{{ article.date.year }}</div>
            <div class="twig top"></div>
            <div class="twig-cover top"></div>
        </a>
        <div class="menu-tab">
            <div class="branch">{{ article.date.month }}</div>
            <div class="twig"></div>
            <div class="twig-cover"></div>
        </div>
    </div>
    <div class="content">
        <div class="article-title">{{ article.title }}</div>
        <div class="clearfix"></div>
        {{ article.body|safe  }}
        </div>
    </div>
{% endblock %}
