{% extends "layout.html" %}
{% block body %}
    <div class="breadcrumb">
        <div class="menu-tab top">
            <div class="branch top">2012</div>
            <div class="twig top"></div>
            <div class="twig-cover top"></div>
        </div>
        <div class="menu-tab">
            <div class="branch">Enero</div>
            <div class="twig"></div>
            <div class="twig-cover"></div>
        </div>
    </div>
    <div class="content">
        <div class="article-title">{{ article.title }}</div>
        <div class="clearfix"></div>
        {{ article.body }}
        </div>
    </div>
{% endblock %}