{% extends "layout.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/article_list_hashtag_handler.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="breadcrumb index">
        {% for year in items.keys()|sort(reverse=True) %}
        <a href="#{{ year }}" class="menu-tab {{ loop.cycle('top', '') }}">
            <div class="branch">{{ year }}</div>
            <div class="twig"></div>
            <div class="twig-cover"></div>
        </a>
        {% endfor %}
    </div>
    
    <div class="content">
        <div class="articles-title">
            <span>{{ title }}</span>
            <span class="separator">|</span>
            <span class="hash-year"></span>
        </div> 
        {% for year, item_list in items.iteritems() %}
        <div class="archive-loop" year="{{ year }}">
            {% for item in item_list %}
                {% set template = type + '_list.html' %} {% include template %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
